//Font
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Raleway:700');

//Mixin placeholder
@mixin placeholder {
    ::-webkit-input-placeholder {
        @content
    }
    :-moz-placeholder {
        @content
    }
    ::-moz-placeholder {
        @content
    }
    :-ms-input-placeholder {
        @content
    }
}

//Font variables
$lato: 'Lato',
sans-serif;
$raleway: 'Raleway',
cursive;

//Colour variables
$babyPink: #FFA69E;
$choco: #8C5E58;
$red: #FF7E6B;
$white: #FFF7F8;

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $choco;
    font-size: 16px;
    font-family: $lato;
    color: $white;
}

a {
    font-size: 1.5em;
    color: $white;
    &:link {
        text-decoration: none;
    }
}

header {
    margin: 20px auto;
    text-align: center;
    h1 {
        font-size: 3em;
        font-family: $raleway;
        color: $babyPink;
        margin-bottom: 20px;
    }
    input {
        width: 250px;
        border: none;
        border-bottom: 2px solid $babyPink;
        outline: none;
        background: $choco;
        text-align: center;
        color: $white;
    }
    @include placeholder {
        color: $white;
        opacity: 0.7;
    }
    #active-task {
        font-size: 1.3em;
        margin-top: -25px;
        visibility: hidden;
    }

}

#timeDisplay {
    margin-top: 20px;
    font-size: 2em;
    text-align: center;
}

.settings {
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    margin: 40px auto;
    height: 250px;
    width: 80%;
}

.timeSettings {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
    text-align: center; 
}

.circle {
    position: absolute;
    display: flex;
    justify-content:center;
    align-items: center; 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 3px solid $red;
    background: $babyPink;
    input {
        text-align: center;
        color: $choco;
        font-size: 1.5em;
        font-weight: bold;
        height: 35px;
        width: 35px;
        background-color: transparent;
        border: none;
        outline: none;
    }
    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }
    
}

#control {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#startButton {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.middleCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: $babyPink;
    box-shadow: inset 6px 6px 6px $choco;
    #start {
        color: $choco;
        font-weight: bold;
    }
    #pause {
        position: absolute;
        visibility: hidden;
    }
}

#control2 {
    width: 300px;
    margin: 20px auto;
    display: flex;
    justify-content: space-around;
    font-size: 0.8em;
    line-height: 1em;
}
